$text: #fafafa;

$bg: #181818;
$bg-accent: #232323;

$input-bg: #343434;

$primary: #D7EBBA;

$btn-bg: #D7EBBA;
$btn-bg-hover: #C3D5A8;
$btn-color: #181818;

$gray-btn-bg: #343434;
$gray-btn-bg-hover: #464646;
$gray-btn-color: #fafafa;

$danger-btn-bg: #FF8B8B;
$danger-btn-bg-hover: #DE7474;
$danger-btn-color: #fafafa;
